*.pyc
*.ckpt
*.zip
*.tsv
*.yaml
events.out.tfevents.*
.vscode/launch.json
Summer/data_explore.ipynb
Summer/gdc_files.json
Summer/get_repo.sh
Summer/getTCGA.ipynb
Summer/Model_rundown.csv
Summer/pixi.lock
Summer/pixi.toml
Summer/run_models_test.py
Summer/tahoe.ipynb
Summer/test.py
Summer/__MACOSX/._Benchmarking-HE-SGE-pipeline
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/._.DS_Store
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/._00-CombineDat.html
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/._00-CombineDat.Rmd
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/._01-BenchmarkUsability.html
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/._01-BenchmarkUsability.Rmd
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/._02-BenchmarkPredictedExprs.html
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/._02-BenchmarkPredictedExprs.Rmd
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/._03-BenchmarkTCGA.html
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/._03-BenchmarkTCGA.Rmd
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/._04-BenchmarkRanks.html
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/._04-BenchmarkRanks.Rmd
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/._benchmarkUtils.R
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/._data
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/._README.md
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/._.DS_Store
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/._processed
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/._raw
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/Additional Source Data/._Source_Data_SuppFig17.csv
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/Additional Source Data/._Source_Data_SuppFig18.csv
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/._.DS_Store
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/._cscc
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/._her2st
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/._methods_usability_dat.RData
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/._performance_results.csv
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/._visium
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/cscc/._cscc_pred_feat_cor_11.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/cscc/._cscc_SVG_filter_top20.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/cscc/._processed_expr.csv
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/her2st/._comb_pred_dat_her2st_samp.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/her2st/._her2st_cluster_11.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/her2st/._her2st_comb_pred_dat_11.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/her2st/._her2st_pred_feat_cor_11.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/her2st/._her2st_SVG_filter_top20.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/her2st/._pred_rank_df_tcga_clinicaltrans.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/her2st/._pred_rank_df_tcgabrca.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/her2st/._pred_rank_df.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/her2st/._processed_expr.csv
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._.DS_Store
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._kidney_SVG_filter_top20_whole_image.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._pred_rank_df_kidney_visium.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._pred_rank_df_whole_bc_visium.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._processed_expr_kidney.csv
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._processed_expr_visium_bc_762.csv
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._processed_visium_bc_expr_990.csv
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._processed_whole_bc_expr.csv
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._variance_data_combine_kidney.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._visium_bc_SVG_filter_top20.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._visium_her2_bc_pred_feat_cor_10.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._visium_kidney_pred_feat_cor_145_genes_8.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._visium_kidney_pred_feat_cor_992_genes_6.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._visium_whole_bc_pred_feat_cor_274_genes_7.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._visium_whole_bc_pred_feat_cor_990_genes_6.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/processed/visium/._whole_bc_variance_data_combine.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/raw/._.DS_Store
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/raw/._methods_usability_scoring.xlsx
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/raw/._tcga_brca
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/raw/tcga_brca/._BRCA.clin.merged.txt
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/raw/tcga_brca/._final_surv_risk_classifyr_list_top5feat_cv_3fold100rep.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/raw/tcga_brca/._her2st_tcga_pred_comb_dat_mean.csv
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/raw/tcga_brca/._tcga_breast_matched_rnaseq_sce.rds
Summer/__MACOSX/Benchmarking-HE-SGE-pipeline/data/raw/tcga_brca/._tcga_pred_ge_surv_risk_list_logrna_meannorm.rds
Summer/Benchmarking-HE-SGE-pipeline/.DS_Store
Summer/Benchmarking-HE-SGE-pipeline/00-CombineDat.html
Summer/Benchmarking-HE-SGE-pipeline/00-CombineDat.ipynb
Summer/Benchmarking-HE-SGE-pipeline/00-CombineDat.Rmd
Summer/Benchmarking-HE-SGE-pipeline/01-BenchmarkUsability.html
Summer/Benchmarking-HE-SGE-pipeline/01-BenchmarkUsability.ipynb
Summer/Benchmarking-HE-SGE-pipeline/01-BenchmarkUsability.Rmd
Summer/Benchmarking-HE-SGE-pipeline/02-BenchmarkPredictedExprs.html
Summer/Benchmarking-HE-SGE-pipeline/02-BenchmarkPredictedExprs.ipynb
Summer/Benchmarking-HE-SGE-pipeline/02-BenchmarkPredictedExprs.Rmd
Summer/Benchmarking-HE-SGE-pipeline/03-BenchmarkTCGA.html
Summer/Benchmarking-HE-SGE-pipeline/03-BenchmarkTCGA.ipynb
Summer/Benchmarking-HE-SGE-pipeline/03-BenchmarkTCGA.Rmd
Summer/Benchmarking-HE-SGE-pipeline/04-BenchmarkRanks.html
Summer/Benchmarking-HE-SGE-pipeline/04-BenchmarkRanks.ipynb
Summer/Benchmarking-HE-SGE-pipeline/04-BenchmarkRanks.Rmd
Summer/Benchmarking-HE-SGE-pipeline/benchmarkUtils.py
Summer/Benchmarking-HE-SGE-pipeline/benchmarkUtils.R
Summer/Benchmarking-HE-SGE-pipeline/README.md
Summer/Benchmarking-HE-SGE-pipeline/data/.DS_Store
Summer/Benchmarking-HE-SGE-pipeline/data/Additional Source Data/Source_Data_SuppFig17.csv
Summer/Benchmarking-HE-SGE-pipeline/data/Additional Source Data/Source_Data_SuppFig18.csv
Summer/Benchmarking-HE-SGE-pipeline/data/processed/.DS_Store
Summer/Benchmarking-HE-SGE-pipeline/data/processed/methods_usability_dat.RData
Summer/Benchmarking-HE-SGE-pipeline/data/processed/performance_results.csv
Summer/Benchmarking-HE-SGE-pipeline/data/processed/cscc/cscc_pred_feat_cor_11.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/cscc/cscc_SVG_filter_top20.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/cscc/processed_expr.csv
Summer/Benchmarking-HE-SGE-pipeline/data/processed/her2st/comb_pred_dat_her2st_samp.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/her2st/her2st_cluster_11.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/her2st/her2st_comb_pred_dat_11.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/her2st/her2st_pred_feat_cor_11.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/her2st/her2st_SVG_filter_top20.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/her2st/pred_rank_df_tcga_clinicaltrans.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/her2st/pred_rank_df_tcgabrca.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/her2st/pred_rank_df.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/her2st/processed_expr.csv
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/.DS_Store
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/.Rapp.history
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/kidney_SVG_filter_top20_whole_image.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/pred_rank_df_kidney_visium.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/pred_rank_df_whole_bc_visium.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/processed_expr_kidney.csv
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/processed_expr_visium_bc_762.csv
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/processed_visium_bc_expr_990.csv
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/processed_whole_bc_expr.csv
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/variance_data_combine_kidney.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/visium_bc_SVG_filter_top20.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/visium_her2_bc_pred_feat_cor_10.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/visium_kidney_pred_feat_cor_145_genes_8.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/visium_kidney_pred_feat_cor_992_genes_6.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/visium_whole_bc_pred_feat_cor_274_genes_7.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/visium_whole_bc_pred_feat_cor_990_genes_6.rds
Summer/Benchmarking-HE-SGE-pipeline/data/processed/visium/whole_bc_variance_data_combine.rds
Summer/Benchmarking-HE-SGE-pipeline/data/raw/.DS_Store
Summer/Benchmarking-HE-SGE-pipeline/data/raw/methods_usability_scoring.xlsx
Summer/Benchmarking-HE-SGE-pipeline/data/raw/tcga_brca/BRCA.clin.merged.txt
Summer/Benchmarking-HE-SGE-pipeline/data/raw/tcga_brca/final_surv_risk_classifyr_list_top5feat_cv_3fold100rep.rds
Summer/Benchmarking-HE-SGE-pipeline/data/raw/tcga_brca/her2st_tcga_pred_comb_dat_mean.csv
Summer/Benchmarking-HE-SGE-pipeline/data/raw/tcga_brca/tcga_breast_matched_rnaseq_sce.rds
Summer/Benchmarking-HE-SGE-pipeline/data/raw/tcga_brca/tcga_pred_ge_surv_risk_list_logrna_meannorm.rds
Summer/data/ensembl_to_symbol.pkl
Summer/data/HGNC_download.py
Summer/data/symbol_to_ensembl.pkl
Summer/he_models/DeepPT/README.docx
Summer/he_models/DeepPT/ResNet50_IMAGENET1K_V2.pt
Summer/he_models/DeepPT/10metadata/.DS_Store
Summer/he_models/DeepPT/10metadata/CESC_genes.txt
Summer/he_models/DeepPT/10metadata/CESC_log.csv
Summer/he_models/DeepPT/10metadata/CESC_slide_matched.csv
Summer/he_models/DeepPT/10metadata/CESC_slide_selected.csv
Summer/he_models/DeepPT/10metadata/CESC_train_valid_test_idx.npz
Summer/he_models/DeepPT/11slide_processing/.DS_Store
Summer/he_models/DeepPT/11slide_processing/1main_processing.py
Summer/he_models/DeepPT/11slide_processing/collect_features.py
Summer/he_models/DeepPT/11slide_processing/collect_mask.py
Summer/he_models/DeepPT/11slide_processing/utils_color_norm.py
Summer/he_models/DeepPT/11slide_processing/utils_preprocessing.py
Summer/he_models/DeepPT/12AE/.DS_Store
Summer/he_models/DeepPT/12AE/1main_AE.py
Summer/he_models/DeepPT/12AE/model_AE.py
Summer/he_models/DeepPT/12AE/.ipynb_checkpoints/1main_AE-checkpoint.ipynb
Summer/he_models/DeepPT/12AE/.ipynb_checkpoints/2BC_from_BRCA-checkpoint.ipynb
Summer/he_models/DeepPT/12AE/.ipynb_checkpoints/2features_norm-checkpoint.ipynb
Summer/he_models/DeepPT/12AE/.ipynb_checkpoints/51AEfeatures_from_trained-checkpoint.ipynb
Summer/he_models/DeepPT/13DeepPT_train/.DS_Store
Summer/he_models/DeepPT/13DeepPT_train/1main_train.py
Summer/he_models/DeepPT/13DeepPT_train/model_MLP.py
Summer/he_models/DeepPT/13DeepPT_train/utils.py
Summer/he_models/DeepPT/__MACOSX/10metadata/._.DS_Store
Summer/he_models/DeepPT/__MACOSX/10metadata/._CESC_genes.txt
Summer/he_models/DeepPT/__MACOSX/10metadata/._CESC_slide_matched.csv
Summer/he_models/DeepPT/__MACOSX/10metadata/._CESC_slide_selected.csv
Summer/he_models/DeepPT/__MACOSX/11slide_processing/._1main_processing.py
Summer/he_models/DeepPT/__MACOSX/11slide_processing/._collect_features.py
Summer/he_models/DeepPT/__MACOSX/11slide_processing/._collect_mask.py
Summer/he_models/DeepPT/__MACOSX/11slide_processing/._utils_color_norm.py
Summer/he_models/DeepPT/__MACOSX/11slide_processing/._utils_preprocessing.py
Summer/he_models/DeepPT/__MACOSX/12AE/._1main_AE.py
Summer/he_models/DeepPT/__MACOSX/12AE/._model_AE.py
Summer/he_models/DeepPT/__MACOSX/13DeepPT_train/._1main_train.py
Summer/he_models/DeepPT/__MACOSX/13DeepPT_train/._model_MLP.py
Summer/he_models/DeepPT/__MACOSX/13DeepPT_train/._utils.py
Summer/src/hn_summer/__init__.py
lightning_logs/version_0/events.out.tfevents.1753407760.fg8.1008903.0
Jamie.code-workspace
